

body{
    font-family: 'Muli', sans-serif;
}

.leftcol{
    background-color: lavender;
    margin: 10px;
    height: 300px;
    margin-left: 100px;
    margin-top: 210px;
    text-align: center;
    border-radius: 20px;
    transition: background-color 0.6s, height 0.6s, margin 0.6s;
    img{
        width: 200px;
        height: 200px;
    }
    ul{
        margin-right: 30px;
        display: none;
    }
    a{
        text-decoration: none !important;
        color: black !important;
    }
}

.rightcol{
    background-color: lavender;
    margin: 10px;
    height: 300px;
    margin-top: 210px;
    text-align: center;
    border-radius: 20px;
    transition: background-color 0.6s, height 0.6s, margin 0.6s;
    img{
        width: 200px;
        height: 220px;
    }
    ul{
        margin-right: 30px;
        display: none;
    }
    a{
        text-decoration: none !important;
        color: black !important;
    }
}

.leftcol:hover{
    background-color: orange;
    height: 385px;
    margin-top: 190px;
    a{
        color: white !important;
    }
    h1{
        color: yellow !important;
    }
    ul{
        display: block;
    }
}

.rightcol:hover{
    background-color: orange;
    height: 385px;
    margin-top: 190px;
    a{
        color: white !important;
    }
    h1{
        color: yellow !important;
    }
    ul{
        display: block;
    }
}

@media only screen and (max-width: 750px){
    .leftcol{
        margin: 0px;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .rightcol{
        margin: 0px;
    }
}