body {
  font-family: 'Muli', sans-serif; }

.leftcol {
  background-color: lavender;
  margin: 10px;
  height: 300px;
  margin-left: 100px;
  margin-top: 210px;
  text-align: center;
  border-radius: 20px;
  transition: background-color 0.6s, height 0.6s, margin 0.6s; }
  .leftcol img {
    width: 200px;
    height: 200px; }
  .leftcol ul {
    margin-right: 30px;
    display: none; }
  .leftcol a {
    text-decoration: none !important;
    color: black !important; }

.rightcol {
  background-color: lavender;
  margin: 10px;
  height: 300px;
  margin-top: 210px;
  text-align: center;
  border-radius: 20px;
  transition: background-color 0.6s, height 0.6s, margin 0.6s; }
  .rightcol img {
    width: 200px;
    height: 220px; }
  .rightcol ul {
    margin-right: 30px;
    display: none; }
  .rightcol a {
    text-decoration: none !important;
    color: black !important; }

.leftcol:hover {
  background-color: orange;
  height: 385px;
  margin-top: 190px; }
  .leftcol:hover a {
    color: white !important; }
  .leftcol:hover h1 {
    color: yellow !important; }
  .leftcol:hover ul {
    display: block; }

.rightcol:hover {
  background-color: orange;
  height: 385px;
  margin-top: 190px; }
  .rightcol:hover a {
    color: white !important; }
  .rightcol:hover h1 {
    color: yellow !important; }
  .rightcol:hover ul {
    display: block; }

@media only screen and (max-width: 750px) {
  .leftcol {
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 20px; }
  .rightcol {
    margin: 0px; } }
