
.jumbotron{
    background-image: linear-gradient(rgb(43,26,71),rgb(224,99,55)) !important;
    height: 300px;
    h1{
        color: rgb(251,230,140) !important;
    }
    p{
        color: white !important;
    }
}

.leftcol1{ 
    margin-top: 20px;
    margin-right: 95px;
    background-color: rgb(255, 163, 26);
    border-radius: 25px;
    height: 300px;
    color: yellow;
    transition: height 0.5s, background-color 0.5s, margin-top 0.5s;
    img{
        width: 220px;
        height: 220px;
        margin-left: 110px;
        margin-bottom: 15px;
        transition: height 0.5s, width 0.5s;
    }
    h2{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.leftcol1:hover{
    height: 325px;
    background-color: rgb(255, 255, 77);
    margin-top: 10px;
    color: rgb(255, 77, 77);
    img{
        height: 245px;
        width: 225px;
    }
}

.rightcol1{
    margin-top: 20px;
    margin-left: 70px;
    background-color: rgb(255, 163, 26);
    border-radius: 25px;
    height: 300px;
    color: yellow;
    transition: height 0.5s, background-color 0.5s, margin-top 0.5s;
    img{
        width: 220px;
        height: 220px;
        margin-left: 110px;
        margin-bottom: 15px;
        transition: height 0.5s, width 0.5s;
    }
    h2{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.rightcol1:hover{
    height: 325px;
    background-color: rgb(255, 255, 77);
    margin-top: 10px;
    color: rgb(255, 77, 77);
    img{
        height: 245px;
        width: 225px;
    }
}

.leftcol2{
    margin-top: 20px;
    margin-right: 95px;
    background-color: rgb(255, 163, 26);
    margin-bottom: 40px;
    border-radius: 25px;
    height: 300px;
    color: yellow;
    transition: height 0.5s, background-color 0.5s, margin-top 0.5s;
    img{
        width: 220px;
        height: 220px;
        margin-left: 110px;
        margin-bottom: 15px;
        transition: height 0.5s, width 0.5s;
    }
    h2{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.leftcol2:hover{
    height: 325px;
    background-color: rgb(255, 255, 77);
    margin-top: 10px;
    color: rgb(255, 77, 77);
    img{
        height: 245px;
        width: 225px;
    }
}

.rightcol2{
    margin-top: 20px;
    margin-left: 70px;
    margin-bottom: 40px;
    background-color: rgb(255, 163, 26);
    border-radius: 25px;
    height: 300px;
    color: yellow;
    transition: height 0.5s, background-color 0.5s, margin-top 0.5s;
    img{
        width: 220px;
        height: 220px;
        margin-left: 110px;
        margin-bottom: 15px;
        transition: height 0.5s, width 0.5s;
    }
    h2{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.rightcol2:hover{
    height: 325px;
    background-color: rgb(255, 255, 77);
    margin-top: 10px;
    color: rgb(255, 77, 77);
    img{
        height: 245px;
        width: 225px;
    }
}