.jumbotron {
  background-image: linear-gradient(#2b1a47, #e06337) !important;
  height: 300px; }
  .jumbotron h1 {
    color: #fbe68c !important; }
  .jumbotron p {
    color: white !important; }

.leftcol1 {
  margin-top: 20px;
  margin-right: 95px;
  background-color: #ffa31a;
  border-radius: 25px;
  height: 300px;
  color: yellow;
  transition: height 0.5s, background-color 0.5s, margin-top 0.5s; }
  .leftcol1 img {
    width: 220px;
    height: 220px;
    margin-left: 110px;
    margin-bottom: 15px;
    transition: height 0.5s, width 0.5s; }
  .leftcol1 h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px; }

.leftcol1:hover {
  height: 325px;
  background-color: #ffff4d;
  margin-top: 10px;
  color: #ff4d4d; }
  .leftcol1:hover img {
    height: 245px;
    width: 225px; }

.rightcol1 {
  margin-top: 20px;
  margin-left: 70px;
  background-color: #ffa31a;
  border-radius: 25px;
  height: 300px;
  color: yellow;
  transition: height 0.5s, background-color 0.5s, margin-top 0.5s; }
  .rightcol1 img {
    width: 220px;
    height: 220px;
    margin-left: 110px;
    margin-bottom: 15px;
    transition: height 0.5s, width 0.5s; }
  .rightcol1 h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px; }

.rightcol1:hover {
  height: 325px;
  background-color: #ffff4d;
  margin-top: 10px;
  color: #ff4d4d; }
  .rightcol1:hover img {
    height: 245px;
    width: 225px; }

.leftcol2 {
  margin-top: 20px;
  margin-right: 95px;
  background-color: #ffa31a;
  margin-bottom: 40px;
  border-radius: 25px;
  height: 300px;
  color: yellow;
  transition: height 0.5s, background-color 0.5s, margin-top 0.5s; }
  .leftcol2 img {
    width: 220px;
    height: 220px;
    margin-left: 110px;
    margin-bottom: 15px;
    transition: height 0.5s, width 0.5s; }
  .leftcol2 h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px; }

.leftcol2:hover {
  height: 325px;
  background-color: #ffff4d;
  margin-top: 10px;
  color: #ff4d4d; }
  .leftcol2:hover img {
    height: 245px;
    width: 225px; }

.rightcol2 {
  margin-top: 20px;
  margin-left: 70px;
  margin-bottom: 40px;
  background-color: #ffa31a;
  border-radius: 25px;
  height: 300px;
  color: yellow;
  transition: height 0.5s, background-color 0.5s, margin-top 0.5s; }
  .rightcol2 img {
    width: 220px;
    height: 220px;
    margin-left: 110px;
    margin-bottom: 15px;
    transition: height 0.5s, width 0.5s; }
  .rightcol2 h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px; }

.rightcol2:hover {
  height: 325px;
  background-color: #ffff4d;
  margin-top: 10px;
  color: #ff4d4d; }
  .rightcol2:hover img {
    height: 245px;
    width: 225px; }

@media only screen and (max-width: 550px) {
  .leftcol1 {
    margin-right: 0px;
    margin-left: 0px; }
    .leftcol1 img {
      width: 200px;
      height: 190px;
      margin-left: 80px; }
  .leftcol1:hover img {
    height: 210px;
    width: 200px; }
  .rightcol1 {
    margin-left: 0px; }
    .rightcol1 img {
      width: 200px;
      height: 190px;
      margin-left: 78px; }
  .rightcol1:hover img {
    height: 210px;
    width: 200px; }
  .leftcol2 {
    margin-right: 0px;
    margin-left: 0px; }
    .leftcol2 img {
      width: 240px;
      height: 230px;
      margin-left: 60px; }
  .leftcol2:hover img {
    height: 240px;
    width: 240px; }
  .rightcol2 {
    margin-left: 0px; }
    .rightcol2 img {
      width: 230px;
      height: 240px;
      margin-left: 75px;
      margin-bottom: 10px; }
  .rightcol2:hover img {
    height: 250px;
    width: 230px; } }
