.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background-image: linear-gradient(#2b1a47, #e06337) !important;
  height: 400px; }
  .jumbotron h1 {
    color: #fbe68c !important; }
  .jumbotron p {
    color: white !important; }

.leftcol {
  margin-top: 20px;
  margin-right: 5px;
  background-color: yellow;
  border-radius: 25px; }
  .leftcol img {
    width: 220px;
    height: 220px;
    margin-left: 150px; }
  .leftcol h2 {
    text-align: center; }
