//Mixin declaration
@mixin zero-margin($pad-up-dn, $pad-left-right){
    margin: 0px auto;
    padding: $pad-up-dn $pad-left-right;
}

.jumbotron{
    @include zero-margin(70px, 30px);
    background-image: linear-gradient(blue, lightblue) !important;
    height: 400px;
    h1{
        color: violet !important;
    }
    p{
        color: white !important;
    }
}

.loginbtn button{
    width: 140px;
    height: 60px;
    background-color: yellow;
    border-radius: 20px;
    transition: width 0.5s, height 0.5s, background-color 0.5s;
}

.loginbtn button:hover{
    width: 160px;
    height: 70px;
    background-color: orange !important;
}

.delstu{
    background-color: yellowgreen !important;
    border-radius: 25px;
    margin-top: 15px;
    width: 400px;
    height: 350px;
    transition: background-color 0.5s;
    h2{
        text-align: center;
    }
    img{
        height: 300px;
        width: 300px;
        margin-left: 70px;
    }
}

.delstu:hover{
    background-color: green !important;
}