//Mixin declaration
@mixin zero-margin($pad-up-dn, $pad-left-right){
    margin: 0px auto;
    padding: $pad-up-dn $pad-left-right;
}

.jumbotron{
    @include zero-margin(70px, 30px);
    background-image: linear-gradient(rgb(43,26,71),rgb(224,99,55)) !important;
    height: 400px;
    h1{
        color: rgb(251,230,140) !important;
    }
    p{
        color: white !important;
    }
}

.leftcol{ 
    margin-top: 20px;
    margin-right: 5px;
    background-color: yellow;
    border-radius: 25px;
    img{
        width: 220px;
        height: 220px;
        margin-left: 150px;
    }
    h2{
        text-align: center;
    }
}